.container {
  max-width: 716px;
}
.article{
  min-height: 920px;
  &:after{
    display: none;
  }
  &__tooltip{
    max-width: calc(100% - 20px);
    top: 25px;
  }
  .form {
    &__body {
      .step {
        width: 470px;
      }
      
    }
    
  }
  .main h1 {
    padding: 30px 0 0 0;
  }
}
.btn{
  &__img_mob{
    position: absolute;
    right: -30px;
    top: 10px;
    display: block;
    height: 87px;
  }
}
.section{
  &__innovation{
    margin-top: 0;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: calc(50% - 40px);
      bottom: 100%;
      width: 0;
      height: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 40px solid #fff;
    }
    .info{
      box-shadow: 0px 5px 20px #0D27481A;
      flex-wrap: wrap;
      padding: 25px;
      border-radius: 10px;
      height: auto;
      flex-direction: column;
      &__left {
        margin: 0 auto;
        max-width: 340px;
        width: 100%;
      }
      &__right {
        padding-top: 19px;
        margin: 0 auto;
      }
      &__title{
        text-align: center;
      }
      &__content{
        &_item{
          width: 100%!important;
        }
      }
      .btn {
        width: 322px;
        height: 75px;
        &__icon {
          width: 56px;
          &_img {
            height: 40px;
          }
        }
        &__number {
          padding: 3px 0 0 71px;
          h5{
            font-size: 17px;
            line-height: 12px;
          }
          p{
            font-size: 26px;
            line-height: 30px;
          }
        }
      }
    }
    .innovation {
      flex-wrap: wrap;
      padding-top: 145px;
      padding-bottom: 140px;
      &__img {
        width: 100%;
        img{
          width: 100%;
        }
      }
      &__left {
        margin: 0 auto;
      }
      &__right {
        padding-top: 90px;
        width: 100%;
        padding-left: 0;
        text-align: center;
      }
    }
  }
  &__question{
    &_items {
      top: -77px;
      flex-wrap: wrap;
      justify-content: space-between;
      &-item {
        .number {
          right: 0;
          top: 0;
        }
        max-width: 49%;
        &:nth-child(2) {
          margin-top: 0;
        }
        &:nth-child(3) {
          margin-top: 20px;
        }
      }
    }
    &_info{
      margin-top: 20px;
      padding-bottom: 170px;
      &-img{
        display: none;
      }
      &-title {
        width: 100%;
        padding-top: 0px;
        text-align: center;
      }
      .btn-question{
        margin: 0 auto;
      }
    }
  }
  &__lifetime{
    .container{
      flex-wrap: wrap-reverse;
    }
    &_right{
      text-align: center;
      width: 100%;
      img {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
      }
    }
    &_left {
      width: 100%;
      text-align: center;
      .btn-white {
  
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
